<div class="container">
    <br>
    <h1>Login</h1>
    <%= form_tag(login_path) do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
        <br><br>

        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <br><br>
    
        <%= submit_tag "Login" %>
        
    <% end %>
    <br>
    <h3>Or</h3>
    <%= form_tag("/auth/google_oauth2") do %>
        <%= submit_tag "Login with Google" %>
    <% end %>
    <br>
    <br>
    <%= button_to 'Back', root_path %>
</div>