<div class="container">   
    <br>
    <br>

    <h3>Note Entry</h3>
    <br>
    <strong>Subject:</strong> <%= @note.subject.name %>
    <br>
    <strong>Lesson:</strong> <%= @note.lesson_name %>
    <br>
    <strong>Date:</strong><%= @note.date %>
    <br>
    <strong>Note:</strong> <%= @note.note_entry%>

    <% if @note.user == current_user %>
        <%= link_to 'Edit', edit_note_path(@note) %>
        <%= link_to 'Back', notes_path %>
    <% end %>
    
    <% if  @note.user != current_user %>
        <p><%= link_to "Leave a comment about their notes", new_note_comment_path(@note) %></p>
    <% end %>
</div>
