<div class="container">
    <%= render partial: "layouts/errors", locals: { object: @comment } %>
 
    <%= form_for([@comment.note, @comment]) do |f|%>
        
        
        <%= f.label :Comment %>
        <br>
        <%= f.text_area :content, cols:30, rows:5  %>
        <%= f.hidden_field :note_id, value: @comment.note_id %>
       
        <br>
        <%= f.submit %>
    <% end %>
</div>
