<div class="container">
   <br>
    <h1>User Sign Up</h1>

    <%= simple_form_for @user do |f| %>
        <%= f.input :username %>
    
        <br><br>

        <%= f.input :email %>
        <br><br>
    
        <%= f.input :password %>
    
        <br><br>
    
        <%= f.button :submit, class:"btn-primary" %>
    <% end %>
</div>